<header>
    <div class="menu-container">
        <i class="fa-solid fa-bars left-menu"></i>
    </div>
    <div class="logo-container">
        <a href="/">
            <img class="logo" src="/images/logo_sin_fondo.svg" alt="">
        </a>
    </div>
    <div class="logo-container-desktop">
        <a href="/">
            <img class="logo-desktop" src="/images/logo_sin_fondo.svg" alt="">
        </a>
    </div>
    <div class="search-container">
        <form class="search-bar-desktop" action="" method="">
            <input type="text" name="query" placeholder="Buscar productos, marcas, etc...">
            <button class="button-search" id="button-search">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <div class="icons-container">
        <a href="/users/login">
            <i class="fa-solid fa-user"></i>
        </a>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-cart-shopping"></i>
    </div>
    <nav class="menu-desktop">
        
        <% if (!user) { %>
        <a href="/users/login">Ingresar
            <i class="fa-solid fa-right-to-bracket"></i>
        </a>
        <a href="/users/register">Registrarse
            <i class="fa-solid fa-user-plus"></i>
        </a>
        <% } else { %>
            <a href="/users/perfil">Mi cuenta
                <i class="fa-solid fa-user"></i>
                
            </a>
            <a href="/users/logout">Cerrar sesión
                <i class="fa-solid fa-right-from-bracket"></i>
                <!-- <i class="fa-solid fa-user-large-slash"></i> -->
            </a>
            <a href="#">Favoritos
                <i class="fa-solid fa-heart"></i>
            </a>
            <a href="/products/shop-cart">Carrito
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <% }%>
    </nav>
</header>