<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Goool Store</title>
    <!-- CSS de Bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
<!-- JavaScript de Bootstrap (opcional, necesario para funcionalidades como controles de carrusel) -->
  </head>
  <body>
      <header>
        <div class="menu-container">
          <i class="fa-solid fa-bars left-menu"></i>
        </div>
        <div class="logo-container">
          <a href="/">
            <img class="logo" src="images/logo_sin_fondo.svg" alt="" />
          </a>
        </div>
        <div class="logo-container-desktop">
          <a href="/">
          <img class="logo-desktop" src="images/logo_sin_fondo.svg" alt="" />
          </a>
        </div>
        <div class="search-container">
          <form class="search-bar-desktop" action="" method="">
            <input type="text" name="query" placeholder="Buscar productos, marcas, etc..." />
            <button class="button-search" id="button-search">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <div class="icons-container">
          <a href="/login">
            <i class="fa-solid fa-user"></i>
          </a>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <nav class="menu-desktop">
          <a href="login">Ingresar <i class="fa-solid fa-right-to-bracket"></i></a>
          <a href="register">Registrarse <i class="fa-solid fa-user-plus"></i></a>
          <a href="#">Favoritos <i class="fa-solid fa-heart"></i></a>
          <a href="#">Carrito <i class="fa-solid fa-cart-shopping"></i></a>
        </nav>

        <!-- </div>   -->
      </header>
      <form class="search-bar" action="" method="">
        <input type="text" name="query" placeholder="Buscar productos, marcas, etc..." />
        <!-- <button type="submit">Buscar</button> -->
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
      <nav class="menu-categorias">
        <ul class="menu-izquierdo">
          <li>
            <a href="#">Hombre</a>
            <ul class="submenu">
              <li><a href="#">Botines</a></li>
              <li><a href="#">Camisetas</a></li>
              <li><a href="#">Shorts</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Mujer</a>
            <ul class="submenu">
              <li><a href="#">Botines</a></li>
              <li><a href="#">Camisetas</a></li>
              <li><a href="#">Shorts</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Infantil</a>
            <ul class="submenu">
              <li><a href="#">Botines</a></li>
              <li><a href="#">Camisetas</a></li>
              <li><a href="#">Shorts</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Marcas</a>
            <ul class="submenu">
              <li><a href="#">Adidas</a></li>
              <li><a href="#">Converse</a></li>
              <li><a href="#">Fila</a></li>
              <li><a href="#">Lotto</a></li>
              <li><a href="#">Nike</a></li>
              <li><a href="#">Puma</a></li>
              <li><a href="#">Reebok</a></li>
              <li><a href="#">Topper</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Clubes</a>
            <ul class="submenu">
              <li><a href="#">Nacionales</a></li>
              <li><a href="#">Internacionales</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Accesorios</a>
            <ul class="submenu">
              <li><a href="#">Guantes</a></li>
              <li><a href="#">Medias</a></li>
              <li><a href="#">Pelotas</a></li>
              <li><a href="#">Protección</a></li>
              <li><a href="#">Redes</a></li>
            </ul>
          </li>
        </ul>
        <ul class="menu-derecho">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Promociones</a></li>
        </ul>
      </nav>
      <main>
               <section class="promociones">
                <img src="/images/1.webp" alt="">
               </section>
          <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/images/1.webp" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/images/2.webp" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/images/3.webp" alt="Third slide">
              </div>
            </div>
           </div> -->
          
          <section>
            <h2 class="most-searched">CATEGORIAS</h2>
          <div class="categorias">
            <img src="images/FLYERHOMBRE.jpg" alt="categoria hombres" />
            <img src="images/flyermujer.jpg" alt="categoria hombres" />
          </div>
          <div class="categorias">
          <img src="images/flyerniños.jpg" alt="categoria hombres" />
            <img src="images/FLYERACC.jpg" alt="categoria hombres" />
          </div>
        </section>
        <section class="promociones">
          <h2>Promociones</h2>

        </section>
      </main>
      <footer class="footer">
        <div class="container">
            <div class="footer-section contact">
                <h3>Contacto</h3>
                <p>Email: contacto@gooolstore.com</p>
                <p>Teléfono: +54 380 4265698</p>
                <p>Dirección: Calle 123, La Rioja</p>
            </div>
         
            <div class="footer-section social">
                <h3>Síguenos</h3>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="footer-section newsletter">
                <h3>Suscríbete a nuestro boletín</h3>
                <form action="#" method="post">
                    <input type="email" name="email" placeholder="Tu email" required>
                    <button type="submit">Suscribirse</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Goool Store. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </body>
</html>
