<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/login.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      rel="stylesheet"
    />
    <title>Login goool store</title>
  </head>
  <body>
    <header class="header">
      <div class="hamburger">
        <i class="fa-solid fa-bars"></i>
      </div>
      <img class="logo" src="../images/logo_sin_fondo.png" alt="" />
      <div class="iconos">
        <i class="fa-solid fa-right-to-bracket"></i>
        <i class="fa-solid fa-user-plus"></i>
      </div>
    </header>
    <form class="login">
      <input
        required
        minlength="3"
        maxlength="30"
        type="text"
        placeholder="Nombre de usuario"
      />
      <input type="password" placeholder="Contaraseña" required />
      <div class="remember">
        <input type="checkbox" name="remember" id="" value="remember" /><label
          for="remember"
          >Recordarme</label
        >
      </div>
      <input class="boton-enviar" type="submit" value="Ingresar" />
      <button class="boton-enviar">
        <i class="fa-brands fa-google"></i>Ingresar con Google
      </button>
    </form>
    <footer>
      <div class="footer-div-menus">
        <div class="singular-menu">
          <h3 class="footer-h3">Institucional</h3>
          <div class="sub-menus-footer">
            <a href="#">Quiénes somos</a>
            <a href="#">Historia</a>
            <a href="#">Misión y Visión</a>
            <a href="#">Políticas de privacidad</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Defensa al consumidor</a>
          </div>
        </div>
        <div class="singular-menu">
          <h3 class="footer-h3">Ayuda</h3>
          <div class="sub-menus-footer">
            <a href="#">FAQ</a>
            <a href="#">Pagos y promociones</a>
            <a href="#">Soporte Técnico</a>
          </div>
        </div>
        <div class="singular-menu">
          <h3 class="footer-h3">Atención al Cliente</h3>
          <div class="sub-menus-footer">
            <a href="#">Teléfonos</a>
            <a href="#">Emails</a>
            <a href="#">Horario</a>
          </div>
        </div>
      </div>
      <div class="footer-div-copyright">
        <img src="images/logo_sin_fondo.png" alt="imagen de goool store" />
        <p class="footer-p-copyright">
          © Copyright GOOOL STORE 2024 - www.gooolstore.com.ar - TODOS LOS
          DERECHOS RESERVADOS. Las fotos del site y el logotipo son propiedad de
          www.gooolstore.com.ar y las marcas de sus respectivos titulares. Está
          prohibida la reproducción total o parcial, sin la expresa autorización
          del administrador de la tienda virtual. GOOOL STORE, empresa
          perteneciente al grupo DIGITALHOUSE con domicilio en
          "VALLA–A–SABER–DONDE" N° "VALLA–A–SABER–CUAL" de la Provincia de
          Buenos Aires – Argentina.
        </p>
      </div>
    </footer>
    <script src="../js/login.js"></script>
  </body>
</html>
