/* Estilo general para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0; /* Elimina el margen por defecto del navegador */
    padding: 0; /* Elimina el relleno por defecto del navegador */
}

/* Estilo para el header */
header {
    display: flex; /* Utiliza flexbox para el diseño flexible */
    justify-content: space-between; /* Distribuye los elementos a lo largo del header */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #1466d1; /* Color de fondo del header (solo como ejemplo) */
    padding: 10px; /* Espaciado interno del header */
    position: relative; /* Posiciona el header de manera relativa */
}

/* Estilo para el contenedor del menú */
.menu-container {
    margin-right: auto; /* Empuja el menú a la izquierda */
}

/* Estilo para el contenedor del logo */
.logo-container {
    position: absolute; /* Posiciona el logo de manera absoluta */
    /* left: 50%; /* Coloca el logo en el 50% del ancho del header */
        /* transform: translateX(-50%); Mueve el logo hacia la izquierda la mitad de su propio ancho para centrarlo */ 
}

/* Estilo para el contenedor de los iconos */
.icons-container {
    display: flex; /* Utiliza flexbox para los iconos */
    gap: 10px; /* Espacio entre los iconos */
    margin-left: auto; /* Empuja los iconos a la derecha */
}

/* Estilos para los iconos (ejemplo, reemplaza con tus propios estilos según FontAwesome u otros íconos) */
.fa-bars, .fa-icon1, .fa-icon2, .fa-icon3 {
    font-size: 20px; /* Tamaño de los íconos */
    margin: 0 10px; /* Espacio entre los íconos (ajusta según necesites) */
}

/* Estilo para el logo */
.logo {
    width: 100vw; /* Ajusta este valor según tus necesidades */
    max-width: 80px; /* Ancho máximo del logo */
    min-width: 30px; /* Ancho mínimo del logo */
    height: auto; /* Mantiene la proporción del logo */
}
