html {
  font-family: "roboto";
  font-size: 16px;
}
body {

  background-color: #DCF1F4;
}

main {
  font-size: 20px;
  text-align: center;
}

/* estilos de formulario de carga de producto */
.cargaproducto {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.cargaproducto h2 {
  padding-bottom: 2rem;
}

.opciones {
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  .op {
    display: flex;
    align-items: center;
    label {
      margin-left: 5px;
    }
  }
}
.formulario {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  #nombre {
    margin: 5px;
    border-radius: 20px;
    border: solid 4px #61bcd3;
    padding: 0 15px;
    height: 40px;
    width: 50%;
  }
  #descripcion {
    margin: 10px;
    width: 50%;
    height: 150px;
    border-radius: 20px;
    border: solid 4px #61bcd3;
    padding: 15px;
  }
  .imagen {
    display: flex;
    flex-direction: column;
  }
}
.categoria {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  text-align: center;
}
.categorias {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}
.titulocategoria {
  margin: 10px;
}
.categoria-input {
  display: flex;
  align-items: center;
  label {
    margin-left: 5px;
  }
}
.categoria-input input {
  margin: 0;
}
.boton-confirmar {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-confirmar:hover {
  background-color: #0056b3;
}
.boton-reset {
  background-color: #ff4d4d; /* Rojo */
  color: #fff; /* Blanco para el texto */
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-reset:hover {
  background-color: #e60000;
}
.button-index {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  color: #000000;
  border-radius: 50%;
  background-color: #4878d9;
  border: none;
  cursor: pointer;
  display: none;
}
.button-index.show {
  display: block;
}
.button-index i {
  font-size: x-large;
  color: #000000;
}