/* Define estilos generales aquí */
*{
    font-family: 'roboto';
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #EEFCFF;
    
}

.cargaproducto{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    text-align: center;
    margin: 2%;
    h2 {
        margin-bottom: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: bold;
        div {
            display: flex;
            align-items: center;
            margin: 15px 0;
            justify-content: center;
            input {
                width: 30%;
                text-align: justify;
                padding: 10px;
                font-size: large;
                margin-left: 2%;
            }
            textarea {
                width: 30%;
                text-align: justify;
                padding: 10px 10px 50px 10px;
                margin-left: 2%;
                font-size: large;
            }
        }
    }
    .botones {
        display: flex;
        flex-direction: row;
        width: auto;
        margin: 2%;
      }
      .boton-aceptar {
          color :#ebebeb; 
          background-color: #2968c8; 
          border-radius: 5px; 
          margin: auto;
          border: none;
          font-weight: bold;
          width: 25%;
          height: 35px;
          cursor: pointer;
          transition: background-color 500ms;
          text-decoration: none;
        }
    .boton-aceptar:hover{
        background-color: #0022AA;
    }
    .boton-cancelar {
        color :#ebebeb; 
        background-color: #ff4d4d; 
        border-radius: 5px; 
        margin: auto;
        border: none;
        font-weight: bold;
        width: 25%;
        height: 35px;
        cursor: pointer;
        transition: background-color 500ms;
    }
    .boton-cancelar:hover {
        background-color: #e60000;
    }
}
/*-------CSS de button-top.ejs-------*/
.button-index {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    color: #000000;
    border-radius: 50%;
    background-color: #4878D9;
    border: none;
    cursor: pointer;
    display: none;
}
.button-index.show {
    display: block;
}
.button-index i {
    font-size: x-large;
    color: #000000;
}