<!DOCTYPE html>
<html lang="es">
  <%-include ('../partials/head.ejs', {estilo:'login'})%>
  <body>
    <%-include ('../partials/header.ejs')%>
    <%-include ('../partials/button-top.ejs')%>
    <h1 class="h1">LOGUEARSE</h1>
    <form class="login">
      <input class="cuadros-login" required minlength="3" maxlength="30" type="text" id="nombreUsuario" name="nombreUsuario" placeholder="* Nombre de usuario"/>
      <input class="cuadros-login" type="password"  id="password" name="password"  placeholder="* Contraseña" required/><br>
      <div class="remember">
        <input type="checkbox" name="remember" id="" value="remember"/>
        <label for="remember">Recordarme</label>
      </div>
      <div class="style-div-botones">
        <button class="boton-aceptar" type="submit">Aceptar</button>
        <button class="boton-cancelar" type="reset">Cancelar</button>
        <button class="boton-aceptar"><i class="fa-brands fa-google"></i>Ingresa con Google</button>
      </div>
      <h3>¿No tenés cuenta?</h3><br>
      <a href="register" class="boton-link">Registrate</a>
    </form>
  </body>
  <%-include ('../partials/footer.ejs')%>
</html>
