<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs', {estilo:'register'})%>

    <body>
        <%-include ('../partials/header.ejs')%>
            <%-include ('../partials/button-top.ejs')%>
                <main class="container">
                    <h1 class="h1">REGISTRO DE USUARIO</h1>
                    <form class="form" action="/users/register" method="post" enctype="multipart/form-data">
                        <h3 class="h3">Datos Personales</h3>
                        <div>
                            <div class="div-par">
                                <input class="cuadros-login" type="text" id="nombre" name="nombre" required
                                    placeholder="* Nombre"><br>
                                <input class="cuadros-login" type="text" id="apellido" name="apellido" required
                                    placeholder="* Apellido"><br>
                            </div>
                            <div class="div-par">
                                <input class="cuadros-login" type="text" id="dni" name="dni" placeholder="* DNI"
                                    pattern="[0-9]{8}" minlength="8" maxlength="8"><br>
                                <input class="cuadros-login" type="tel" id="telefono" name="telefono" required
                                    placeholder="* Teléfono"><br>
                            </div>
                            <div class="div-par">
                                <input class="cuadros-login" type="text" id="domicilio" name="domicilio" required
                                    placeholder="* Domicilio">
                                <label for="countries"></label>
                                <input class="cuadros-login" list="countries" id="country" name="country"
                                    placeholder="* País">
                                <datalist id="countries">
                                    <option value="Argentina">
                                    <option value="Bolivia">
                                    <option value="Brasil">
                                    <option value="Chile">
                                    <option value="Colombia">
                                    <option value="Ecuador">
                                    <option value="España">
                                    <option value="Estados Unidos">
                                    <option value="Mexico">
                                    <option value="Paraguay">
                                    <option value="Perú">
                                    <option value="Uruguay">
                                    <option value="Venezuela">
                                </datalist>
                                <br>
                            </div>
                        </div>
                        <h3 class="h3">Perfil de usuario</h3>
                        <div>
                            <div class="div-par">
                                <input class="cuadros-login" type="text" id="nombreUsuario" name="nombreUsuario"
                                    required placeholder="* Nombre de Usuario"><br>
                            </div>
                            <div class="div-par">
                                <input class="cuadros-login" type="email" id="email" name="email" required
                                    placeholder="* Email"><br>
                                <input class="cuadros-login" type="email" id="emailVerify" name="emailVerify" required
                                    placeholder="* Confirmar Email"><br>
                            </div>
                            <div class="div-par">
                                <input class="cuadros-login" type="password" id="password" name="password" required
                                    placeholder="* Contraseña"><br>
                                <input class="cuadros-login" type="password" id="passwordVerify" name="passwordVerify"
                                    required placeholder="* Confirmar contraseña"><br>
                            </div>
                        </div>
                        <h3 class="h3">Sexo</h3>
                        <div class="style-label">
                            <label class="style-label-r">
                                <input class="radio-checkbox" type="radio" name="tipoUsuario">Hombre
                            </label>
                            <label class="style-label-r">
                                <input class="radio-checkbox" type="radio" name="tipoUsuario">Mujer
                            </label>
                            <label class="style-label-r">
                                <input class="radio-checkbox" type="radio" name="tipoUsuario" value="no-binario">No
                                Binario
                            </label>
                        </div>
                        <h3 class="h3">Vamos a conocerte mejor</h3>
                        <h4>¿Que marca deportiva son de tu interes?</h4>
                        <div class="style-label-user">
                            <label class="style-label-cb">
                                <input class="radio-checkbox" type="checkbox" name="intereses">
                                <img src="../images/marcas/adidas.png" alt="Adidas">
                            </label>
                            <label class="style-label-cb">
                                <input class="radio-checkbox" type="checkbox" name="intereses">
                                <img src="../images/marcas/converse.png" alt="Converse">
                            </label>
                            <label class="style-label-cb">
                                <input class="radio-checkbox" type="checkbox" name="intereses">
                                <img src="../images/marcas/fila.png" alt="Fila">
                            </label>
                            <label class="style-label-cb">
                                <input class="radio-checkbox" type="checkbox" name="intereses">
                                <img src="../images/marcas/lotto.png" alt="Lotto">
                            </label>
                            <label class="style-label-cb">
                                <input class="radio-checkbox" type="checkbox" name="intereses">
                                <img src="../images/marcas/nike.png" alt="Nike">
                            </label>
                            <label class="style-label-cb">
                                <input class="radio-checkbox" type="checkbox" name="intereses">
                                <img src="../images/marcas/puma.png" alt="Puma">
                            </label>
                            <label class="style-label-cb">
                                <input class="radio-checkbox" type="checkbox" name="intereses">
                                <img src="../images/marcas/reebok.png" alt="Reebok">
                            </label>
                            <label class="style-label-cb">
                                <input class="radio-checkbox" type="checkbox" name="intereses">
                                <img src="../images/marcas/topper.png" alt="Topper">
                            </label>
                        </div><br>
                        <h4 class="h4-2">¿Tallas?</h4>
                        <div class="style-label-user">
                            <div>
                                <h4 class="h4">Remera</h4>
                                <label class="style-label-talla">
                                    <select class="select-talla" id="tallaRemera" name="tallaRemera">
                                        <option value="XS">XS</option>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="XXL">XXL</option>
                                        <option value="XXXL">XXXL</option>
                                    </select>
                                </label>
                            </div>
                            <div>
                                <h4 class="h4">Pantalon</h4>
                                <label class="style-label-talla">
                                    <select class="select-talla" id="tallaPantalon" name="tallaPantalon">
                                        <option value="XS">XS</option>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="XXL">XXL</option>
                                        <option value="XXXL">XXXL</option>
                                    </select>
                                </label>
                            </div>
                            <div>
                                <h4 class="h4">Short</h4>
                                <label class="style-label-talla">
                                    <select class="select-talla" id="tallaShort" name="tallaShort">
                                        <option value="XS">XS</option>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="XXL">XXL</option>
                                        <option value="XXXL">XXXL</option>
                                    </select>
                                </label>
                            </div>
                            <div>
                                <h4 class="h4">Campera</h4>
                                <label class="style-label-talla">
                                    <select class="select-talla" id="tallaCampera" name="tallaCampera">
                                        <option value="XS">XS</option>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="XXL">XXL</option>
                                        <option value="XXXL">XXXL</option>
                                    </select>
                                </label>
                            </div>
                            <div>
                                <h4 class="h4">Zapatilla</h4>
                                <label class="style-label-talla">
                                    <select class="select-talla" id="tallaZapatillas" name="tallaZapatillas">
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                        <option value="32">32</option>
                                        <option value="33">33</option>
                                        <option value="34">34</option>
                                        <option value="35">35</option>
                                        <option value="36">36</option>
                                        <option value="37">37</option>
                                        <option value="38">38</option>
                                        <option value="39">39</option>
                                        <option value="40">40</option>
                                        <option value="41">41</option>
                                        <option value="42">42</option>
                                        <option value="43">43</option>
                                        <option value="44">44</option>
                                        <option value="45">45</option>
                                        <option value="46">46</option>
                                        <option value="47">47</option>
                                        <option value="48">48</option>
                                        <option value="49">49</option>
                                        <option value="50">50</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div>
                            <label for="foto">Escoge una foto para tu perfil</label><br>
                            <input type="file" name="foto">
                        </div>
                        <div class="style-label-acept">
                            <input class="checkbox-accept" type="checkbox" id="privacy-policy"
                                data-missing-error="Para continuar deberás aceptar las Políticas de Privacidad y los Términos y Condiciones."
                                name="customer_privacyPolicy" required aria-required="true" value="true">
                            <label for="privacy-policy">Acepto las
                                <a href="#">Políticas de Privacidad</a> y
                                <a href="#">Términos y Condiciones</a>.
                            </label>
                        </div>
                        <div class="style-div-botones">
                            <button class="boton-aceptar" type="submit">Aceptar</button>
                            <button class="boton-cancelar" type="reset">Cancelar</button><br>
                        </div>
                    </form>
                </main>
                <%-include ('../partials/footer.ejs')%>
    </body>

</html>